[submodule "puppet/bootstrap"]
	path = puppet/bootstrap
	url = git@github.com:experience/vagrant-bootstrap.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = git@github.com:experience/vagrant-puppet-mysql.git
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = git@github.com:experience/vagrant-puppet-php.git
[submodule "puppet/modules/curl"]
	path = puppet/modules/curl
	url = git@github.com:experience/vagrant-puppet-curl.git
[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = git@github.com:experience/vagrant-puppet-git.git
